---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
  </main>
</BaseLayout>