---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
import Skills from '../components/sections/Skills.astro';
import Contact from '../components/sections/Contact.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <div class="section-divider"></div>
    <About />
    <div class="section-divider"></div>
    <Experience />
    <div class="section-divider"></div>
    <Projects />
    <div class="section-divider"></div>
    <Skills />
    <div class="section-divider"></div>
    <Contact />
  </main>
</BaseLayout>