---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/layout/Navbar.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <!-- Secciones van acá -->
  </main>
</BaseLayout>